/* CSS declarations go here */
body {
  background-color: #727272;
}
.demo {
  display:  flex;
  margin-top: 100px;
  justify-content: center;
}
button {
  margin-left: 20px;
  color: #0097a7;
}
button:hover {
  color: red;
}
p {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}