/* CSS declarations go here */
body {
  background-color: #727272;
}
.demo {
  display:  flex;
  margin-top: 100px;
  justify-content: center;
}
button {
  margin-left: 20px;
  color: #0097a7;
}
button:hover {
  color: red;
}
h3 {
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}